.absolute-parent {
  position: relative;
  height: 200px; /* Батьківський контейнер повинен мати фіксовану висоту. */
}

.absolute-element {
  position: absolute;
  top: 0; /* Розташовується відносно верхнього краю батьківського елемента. */
  right: 0; /* Розташовується відносно правого краю батьківського елемента. */
}