.parent{
  height: 7000px;
}
.fixed-element {
  position: fixed;
  top: 20px; /* Розташовується відносно верхнього краю вікна браузера. */
  right: 20px; /* Розташовується відносно правого краю вікна браузера. */
}